<div class="searchbox">
  <div class="searchbox__fulltext">
    <% if has_scopes? %>
      <span class="<%= filter_class %> searchbox__action-filter"></span>
    <% end %>
    <%= form_tag request.url, method: :GET, class: 'searchbox__form' do %>
      <%= text_field_tag :q, params[:q], class: "searchbox__q",
        placeholder: I18n.t('searchbox.placeholder'),
        data: {
          fulltext: fulltext_scope.value.to_s
        }
      %>
      <%= submit_tag I18n.t('searchbox.submit'), class: 'searchbox__submit' %>
    <% end %>
  </div>

  <% if has_scopes? %>
    <div class="searchbox__advanced-search">
      <% scopes.each do |s| %>
        <div class="searchbox__scope searchbox__scope--<%= s.name %>">
          <% if s.bool? %>
            <div class="searchbox__field--checkbox">
              <%= check_box_tag s.name, s.criteria, s.value, class: "searchbox__input" %>
            </div>
            <div class="searchbox__label--checkbox">
              <%= s.label %>
            </div>
          <% else %>
            <div class="searchbox__label">
              <%= s.label %>
            </div>
            <div class="searchbox__field">
              <%= text_field_tag s.name, s.value, class: "searchbox__input" %>
            </div>
          <% end %>
        </div>
      <% end %>

      <button class="searchbox__submit"><%= I18n.t('searchbox.submit') %></button>
    </div>
  <% end %>
</div>
